<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resume-maker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
{% comment %}   
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Iso&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Mono&family=Rubik+Iso&display=swap" rel="stylesheet"> {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
  p{
    font-size: x-large
  }
  body{
background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  }
  h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
font-weight: bold;

  }
  .outer1{
  border-style: solid;
  border-color:white;
  border-width: 15px;
  box-shadow: 10px 10px 8px #888888;
}
  
</style>
<body>
  <div class="container-fluid outer">
<h1 class="my-5"><strong><center>Resume Maker</center></strong></h1>

<div class="container">

<h3>Steps to create your resume in less than a minute</h3>
<p><code>1.</code> At first enter the required details ie <code>Name</code> , <code>Email</code> , <code>Contact No.</code> , <code>Linkedin Url</code> <br>
  <code>2.</code> Enter your details in the required sections or leave all the job to us as our software will search your <code>linkedin-profile</code> to autofill all the required information<br>
 <code>3.</code> Wait for some time while the <code>magic</code> happens in the background <br> 
 <code>4.</code> Download 3 designs of resume in <code>docx</code> format to edit your  resume any further if needed<br><br><br>
 <code><strong>Note -</strong></code> Before clicking the checkbox to retrieve required info from your <code>linkedin profile</code>. Please ensure that information field exists on your profile
<br>Also we currently only support GoogleChrome as the browser,Please install it and run the app on chrome only



</p>




</div>




</div>


<div class="container col-4 outer1 my-4">
  <h2><center>Fill out the given details</center></h2>
  <form action="/" method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="name">Email:</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="name">Contact No.:</label>
      <input type="number" class="form-control"  placeholder="Enter contact no. " name="num" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="name">Linkedin Profile url </label>
      <input type="text" class="form-control"  placeholder="Enter the link to your linkedin profile " name="linkedin" required>
    </div>
  <hr>

  <h3><center>About you</center></h3>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="abt" onclick="fireup_abt()">
      <label class="form-check-label" for="flexCheckDefault">
        Retrieve your About section from Linkedin Profile
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="bio" onclick="fireup_bio()">
      <label class="form-check-label" for="flexCheckDefault">
        Retrieve your Bio from Linkedin Profile
      </label>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Present yourself in less than 50 words</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="about" value="about you"></textarea>
    </div>

    <hr>

    <h3><center>Achievements</center></h3>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="ach" onclick="fireup()">
      <label class="form-check-label" for="flexCheckDefault">
        Retrieve Achievements from Linkedin Profile
      </label>
    </div>

    <div class="mb-3 mt-3">
        <label for="name">Explain your test scores/Achievements in one line</label>
        <input type="text-area" class="form-control" placeholder="Explain your Achievements" name="ach_1">
      </div>

    <div class="mb-3 mt-3">
        <label for="name">Explain your test scores/Achievements in one line</label>
        <input type="text-area" class="form-control" placeholder="Explain your Achievements" name="ach_2">
      </div>      
    <div class="mb-3 mt-3">
        <label for="name">Explain your test scores/Achievements in one line</label>
        <input type="text-area" class="form-control" placeholder="Explain your Achievements" name="ach_3">
      </div>      
<hr>

    


    <h3><center>Skillset</center></h3>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="skill" onclick="fireup_skill()">
      <label class="form-check-label" for="flexCheckDefault">
        Retrieve Skill Details from Linkedin Profile
      </label>
    </div>
    <div class="mb-3 mt-3">
      <label for="name">Write about your skill</label>
      <input type="text" class="form-control" placeholder="Enter type of skill" name="skill_1">
    </div>

    <div class="mb-3 mt-3">
      <label for="name">Write about your skill</label>
      <input type="text" class="form-control" placeholder="Enter type of skill" name="skill_2">
    </div>

    <div class="mb-3 mt-3">
      <label for="name">Write about your skill</label>
      <input type="text" class="form-control" placeholder="Enter type of skill" name="skill_3">
    </div>

    <div class="mb-3 mt-3">
      <label for="name">Write about your skill</label>
      <input type="text" class="form-control" placeholder="Enter type of skill" name="skill_4">
    </div>

    <hr>

    
    <h3><center>Education</center></h3>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="edu" onclick="fireup_edu()">
      <label class="form-check-label" for="flexCheckDefault">
        Retrieve Education Details from Linkedin Profile
      </label>
    </div>
    <div class="mb-3 mt-3">
        <label for="name">Enter name of university of undergraduation</label>
        <input type="text" class="form-control" value="Undergrad.."  name="ug">
      </div>
    <div class="mb-3 mt-3">
        <label for="name">Enter name of university of postgraduation</label>
        <input type="text" class="form-control" value="postgrad.." name="pg">
      </div>
    <div class="mb-3 mt-3">
        <label for="name">Enter name of school from which You passed class 12th</label>
        <input type="text" class="form-control" value="grade 12..." name="12">
      </div>
      

    <hr>

    <h3><center>Experience</center></h3> 
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox"  name="exp" onclick="fireup_exp()">
      <label class="form-check-label" for="flexCheckDefault">
        Retrieve Experience Details from Linkedin Profile
      </label>
    </div>

     <div class="mb-3 mt-3">
        <label for="name">Details about previous work experience/internships</label>
        <input type="text-area" class="form-control"  placeholder="Experience" name="exp_1">
      </div>
    

    <div class="mb-3 mt-3">
        <label for="name">Details about previous work experience/internships</label>
        <input type="text-area" class="form-control"  placeholder="Experience" name="exp_2">
      </div>
    

    <div class="mb-3 mt-3">
        <label for="name">Details about previous work experience/internships</label>
        <input type="text-area" class="form-control" placeholder="Experience" name="exp_3">
      </div>
    

    <div class="mb-3 mt-3">
        <label for="name">Details about previous work experience/internships</label>
        <input type="text-area" class="form-control" placeholder="Experience" name="exp_4">
      </div>

<hr>
    
    <center><button type="submit" class="btn btn-success my-2">Generate resume in 3 formats</button></center>
  </form>
</div>
<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<div class="row">
<h4><center>Made with <i class="icon ion-heart" style="color: #e25555;"></i> by Pratham Agarwal</center></h4>

</div>
<script>
  function uncheckAll() {
        var inputs = document.querySelectorAll('.form-check-input');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].checked = false;
        }
    }
      
    window.onload = function() {
        window.addEventListener('load', uncheckAll);
    }
  function fireup(){
    if(document.getElementsByName("ach")[0].checked == true){
    document.getElementsByName("ach_1")[0].setAttribute('readonly', true);
    document.getElementsByName("ach_2")[0].setAttribute('readonly', true);
    document.getElementsByName("ach_3")[0].setAttribute('readonly', true);
    }else{
      document.getElementsByName("ach_1")[0].removeAttribute('readonly');
    document.getElementsByName("ach_2")[0].removeAttribute('readonly');
    document.getElementsByName("ach_3")[0].removeAttribute('readonly');
    }
    
  }
  function fireup_edu(){
    if(document.getElementsByName("edu")[0].checked == true){

    document.getElementsByName("ug")[0].setAttribute('readonly', true);
    document.getElementsByName("pg")[0].setAttribute('readonly', true);
    document.getElementsByName("12")[0].setAttribute('readonly', true);
    }else{
      document.getElementsByName("ug")[0].removeAttribute('readonly');
    document.getElementsByName("pg")[0].removeAttribute('readonly');
    document.getElementsByName("12")[0].removeAttribute('readonly');
    }
     
  }
  function fireup_exp(){
    if(document.getElementsByName("exp")[0].checked == true){
      document.getElementsByName("exp_1")[0].setAttribute('readonly', true);
      document.getElementsByName("exp_2")[0].setAttribute('readonly', true);
      document.getElementsByName("exp_3")[0].setAttribute('readonly', true);
      document.getElementsByName("exp_4")[0].setAttribute('readonly', true);
      }else{
        document.getElementsByName("exp_1")[0].removeAttribute('readonly');
      document.getElementsByName("exp_2")[0].removeAttribute('readonly');
      document.getElementsByName("exp_3")[0].removeAttribute('readonly');
      document.getElementsByName("exp_4")[0].removeAttribute('readonly');
      }
     
  }
  function fireup_abt(){
    if(document.getElementsByName("about")[0].checked == true){
    document.getElementsByName("about")[0].setAttribute('readonly', true);
    document.getElementsByName("bio")[0].checked = false
    }else{
      document.getElementsByName("about")[0].removeAttribute('readonly');

    }
  }
  function fireup_bio(){
    if(document.getElementsByName("bio")[0].checked == true){
      document.getElementsByName("about")[0].setAttribute('readonly', true);
      document.getElementsByName("abt")[0].checked = false
      }else{
        document.getElementsByName("about")[0].removeAttribute('readonly');
  
      }

     
  }

  function fireup_skill(){
    if(document.getElementsByName("skill")[0].checked == true){
      document.getElementsByName("skill_1")[0].setAttribute('readonly', true);
      document.getElementsByName("skill_2")[0].setAttribute('readonly', true);
      document.getElementsByName("skill_3")[0].setAttribute('readonly', true);
      document.getElementsByName("skill_4")[0].setAttribute('readonly', true);
      }else{
        document.getElementsByName("skill_1")[0].removeAttribute('readonly');
      document.getElementsByName("skill_2")[0].removeAttribute('readonly');
      document.getElementsByName("skill_3")[0].removeAttribute('readonly');
      document.getElementsByName("skill_4")[0].removeAttribute('readonly');
      }
  }
</script>

</body>
</html>
